@model ITRoots.Models.UserVM
@using ITRoots.Resources
<h4>
    @Resource.DeleteConfirm
    ( <span class="label label-warning"> @Model.FullName</span> )?
</h4>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="modal-footer row">

        <div class="col-xs-6">
            <input type="submit" style="width: 100%;" value="@Resource.Delete" class="btn btn-danger" />
        </div>
        <div class="col-xs-6">
            <button type="button" style="width: 100%;" class="btn btn-default" data-dismiss="modal">@Resource.Close</button>

        </div>
    </div>
}